* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(75, 75, 54);
    color: rgb(253, 226, 151);
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.15);
    font-size: 25px;
    font-family: MainFont;
  }
  button{
    background-color: rgb(100, 100, 54);
    color: rgb(255, 241, 176);
    font-size: 50px;
    text-shadow: 4px 4px 0px rgba(255, 255, 255, 0.15);
    font-family: 'SecondaryFont';
    border-radius: 10px;
    border: 2px;
    display: flex
  }
  img{
    display: inline;
    margin: 1.5rem;
  }
  navBar{
    background-color: rgb(50, 50, 22);
    color: rgb(177, 177, 177);
    transition: all .3s;
    box-shadow:  0 5px 8px rgb(59, 59, 59);
    display: flex;
  }
  nav_maintext{
    display: block;
    color: #ffe8bc;
    margin-top: 1.5rem;
    font-family: SecondaryFont;
    display: flex;
  }
  .whitemode{
    background-color: white;
    color: black;
  }
  @font-face {
    font-family: 'SecondaryFont';
    src: url(Fonts/RussoOne.ttf) format('woff2');
   }
   @font-face {
    font-family: 'MainFont';
    src: url(Fonts/Saira.ttf) format('woff2');
   }
