:root {
  --navbarHeight: 6.5vh;
  --logoHeight: 5vh;
}

* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
    font-size: 4vh;
    font-family: MainFont;
  }
  button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 3vh;
    font-family: 'MainFont';
    border-radius: 1vh;
    border: 0vh;
    margin: 1.5vh;
    padding: 1vh;
  }
#navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    position: relative;
    z-index: 1000;
    height: var(--navbarHeight);
    color: rgb(177, 177, 177);
    transition: all .3s;
    box-shadow: 0 5px 8px rgba(24, 24, 24, 0.5);
    #BarIcon{
      width: auto;
      height: auto;
      max-height: var(--logoHeight);
    };
}
#MainBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbarHeight));
}
   @font-face {
    font-family: 'MainFont';
    src: url(Fonts/Montserrat.ttf) format('woff2');
   }
